/* colors */
:root {
  --vs-primary-color: #006eb4;
  --subLime-primary-color: #4b4b4b;
  --atom-primary-color: #40a977;
}
body {
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono;
  font-size: 16px;
  line-height: 32px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
}
.app-vscode {
  background-color: var(--vs-primary-color);
}
.app-sublime {
  background-color: var(--subLime-primary-color);
}
.app-atom {
  background-color: var(--atom-primary-color);
}
/* header styling*/
.app-header {
  display: flex;
  width: 100%;
  margin-bottom: 28px;
}
.app-header > h1 {
  font-size: 18px;
}

/* main content area */

.container {
  display: flex;
  width: 100%;
  min-height: 90vh;
  flex-direction: column;
  /* max-width: 1440px; */
}
@media (min-width: 960px) {
  .container {
    flex-direction: row;
  }
}
.container-column {
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.75);
  margin: 2px;
  width: 100%;
}
@media (min-width: 960px) {
  .container-column {
    width: 50%;
  }
}

.column-top {
  display: flex;
  flex-basis: 64px;
  flex-shrink: 0;
  padding: 2px;
}
.column-bottom {
  display: flex;
  padding: 4px;
  flex: 1;
  min-height: 165px;
  position: relative;
}

/* input control styling */
.input_text {
  flex: 1;
  border: 0;
  margin: 2px;
  border-radius: 2px;
  width: 100%;
  font: inherit;
  padding: 12px;
}
.textarea {
  flex: 1;
  width: 100%;
  resize: none;
  font: inherit;
  padding: 12px;
  overflow: hidden;
}

.mode-button {
  flex: 1;
  margin: 3px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  border: 0;
  margin: 2px;
  color: #fff;
  font: inherit;
}

.button-vscode {
  background-color: var(--vs-primary-color);
}
.button-sublime {
  background-color: var(--subLime-primary-color);
}
.button-atom {
  background-color: var(--atom-primary-color);
}

.pre {
  flex: 1;
  border: none;
  border-radius: 2px;
  background-color: #fff;
  padding: 12px;
  overflow: hidden;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.copy-button-container {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
